{% extends 'baseform.html' %}

{% load static %}
{% block title %}
    Actualizar rol
{% endblock title %}
{% block content %}
<h1 class="text-light">Actualizar Rol</h1>
<form method="POST" class="row g 3 text-light">{% csrf_token %}
    <p>para actualizar el rol del usuario {{ user.username }}, seleccione una opción y presione el boton actualizar</p>
    <div class="col-md-6 mt-3">
        <label>Rol: </label>
        {{ form.rol}}
    </div>
    <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-outline-primary">Actualizar</button>
        <a href="{% url 'user_app:panel'%}" class="btn btn-outline-secondary">Volver</a>
    </div>
</form>
{% endblock content %}