{% extends 'base.html' %}

{% load static %}
{% block title %}
    Lista de usuarios
{% endblock title %}
{% block content %}

{% if user.rol.nombre == 'Administrador' %}
    {% if nombre %}
        <h3 class="text-dark">Registro exitoso {{ nombre }} {{apellido }}</h3>
    {% endif %}
    {% if exito %}
        <h3 class="text-dark">Actualizacion de usuario exitosa</h3>
    {% endif %}
    
    <h2>Lista de usuarios</h2>
    <form method="GET">{% csrf_token %}
        <input type="text" name="kword" id="kword" placeholder="nombre o apellido" class="">
        <button type="submit" class="btn btn-outline-info">Buscar</button>
    </form>

    {% for i in users %}
        <li>{{ i }}</li>
    {% endfor %}
        <div>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                    <th width="100">Nombre de usuario</th>
                    <th width="150">Email</th>
                    <th width="150">Nombre</th>
                    <th width="150">Apellido</th>
                    <th width="150">Rol</th>
                    <th width="150">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in object_list %}
                    <tr>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.apellido}}</td>
                        {% if u.rol.nombre == "Venta" %}
                            <td><a class ="badge text-bg-success text-decoration-none" href="{% url 'user_app:update_rol' u.id %}"> {{u.rol}}</a></td>
                        {% elif u.rol.nombre == "Administrador" %}
                            <td><a class ="badge text-bg-primary text-decoration-none" href="{% url 'user_app:update_rol' u.id %}"> {{u.rol}}</a></td>
                        {% else %}
                            <td><a class ="badge text-bg-secondary text-decoration-none" href="{% url 'user_app:update_rol' u.id %}"> {{u.rol}}</a></td>
                        {% endif %}
                        <td>
                            {% if u.is_active %}
                                <a class ="badge text-bg-success text-decoration-none" href="{% url 'user_app:block_user' u.id %} "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                  </svg>Activo</a>
                            {% else %}
                                <a class ="badge text-bg-danger text-decoration-none" href="{% url 'user_app:block_user' u.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                  </svg>Bloqueado</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'includes/pagination.html' %}
        </div>
{% elif user.rol.nombre == 'Venta' %}
        <h1>Pagina para ventas</h1>
        {% if exito %}
            <h3 class="text-dark">Actualizacion de usuario exitosa</h3>
        {% endif %}
{% elif user.rol.nombre == 'SAC' %}
        <h1>Pagina para SAC</h1>
        {% if exito %}
            <h3 class="text-dark">Actualizacion de usuario exitosa</h3>
        {% endif %}
{% endif %} 
{% endblock content %}