{% extends 'base.html' %}
{% load static %}
{% block title %}
    Panel
{% endblock title %}
    
{% block content %}
    <h1>Pagina Panel</h1>
    <h3>Bienvenido: {{user.username}}</h3>
    {% if nombre %}
        <h3>Registro exitoso {{ nombre }} {{apellido }}</h3>
    {% endif %}
    {% if exito %}
        <h3>Actualizacion de usuario exitosa</h3>
    {% endif %}
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
    </div>
{% endblock content %}
