{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <span class="navbar-brand text-light">Bienvenido {{ user.username }}</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.rol.nombre == 'Administrador' %}
            <li class="nav-item">
                <a class="nav-link text-light btn btn-outline-secondary" href="{% url 'user_app:registro' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>Crear usuario</a>
            </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-secondary" href="{% url 'user_app:update_user' user.id %}">Actualizar Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-secondary" href="{% url 'user_app:update_pass' %}">Cambio Contraseña</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-secondary" href="{% url 'user_app:logout' %}">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 