{% extends 'baseform.html' %}

{% load static %}
{% block title %}
    Actualizar Producto
{% endblock title %}
{% block content %}
{% if producto.estado.nombre == 'Activo' %}
    <h1 class="text-light">Bloquear Producto</h1>
{% else %}
    <h1 class="text-light">Activar Producto</h1>
{% endif %}
<form method="POST" class="row g 3 bg-secondary text-light">{% csrf_token %}
    <div class="col-md-6">
        <label for="codigo" class="form-label">Codigo Producto:</label>
            {{form.codigo}}
    </div>
    <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre:</label>
            {{form.nombre}}
    </div>
    <div class="col-md-6 mt-2">
        <label for="precio_venta" class="form-label" >Precio de Venta:</label>
        {{form.precio_venta}}
    </div>
    <div class="col-md-6 mt-2">
        <label for="um" class="form-label">Unidad de Medida</label>
        {{form.unidad_medida}}
    </div>
    <div class="col-md-4 mt-2">
        {% if producto.estado.nombre == 'Activo'%}
            <label for="estado" class="form-label">Si desea bloquear el producto seleccione Inactivo:</label>
        {% else %}
            <label for="estado" class="form-label">Si desea activar el producto seleccione Activo:</label>
        {% endif %}
        {{form.estado}}
    </div>
    <div class="col-12 mt-3 bg-dark">
        <button type="submit" class="btn btn-outline-primary">Guardar</button>
        <a href="{% url 'producto_app:listar_productos' %}" class="btn btn-outline-secondary">Volver</a>
    </div>
</form>
{% endblock content %}