{% extends 'baseform.html' %}
{% load static %}
{% block title %}
    Crear marca
{% endblock title %}

{% block content %}
    <h2 class="text-light">Registro marca</h2>
    <form method="POST" class="row g 3 text-light ">{% csrf_token %}
        <div class="col-md-12">
            <label for="nombre" class="form-label">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="mt-2">
            <button class="btn btn-outline-primary">Guardar</button>
            <a class="btn btn-outline-secondary" href="{% url 'producto_app:listar_marcas'%}">Volver</a>
        </div>
    </form>
{% endblock%}