{% extends 'base.html' %}

{% load static %}
{% block title %}
    Lista de marca
{% endblock title %}
{% block content %}

{% if user.rol.nombre == 'Administrador' %}
    <a href="{% url 'producto_app:crear_marca' %}">Crear Marca</a>
    <h2>Lista de marcas</h2>
    {% if marcas %}
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {% for marca in marcas %}
                    <tr>
                        <td><a href="{% url 'producto_app:actualizar_marca' marca.id %}">{{ marca.nombre }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       
    {% else %}
        <h3>No exiten registros de marcas</h3>
    {% endif %}
{% else %}
    <div class="card text-bg-danger mb-3 text-center" style="max-height: 100%;">
        <div class="card-body">
        <h5 class="card-title">Acesso denegado</h5>
        <p class="card-text">Lo sentimos, no tienes permiso para ver esta vista</p>
        </div>
    </div>
{% endif %}
{% endblock %}